<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <label class="todo-list__label">
    <input type="checkbox" name="" id="" />
    <i class="check"></i>
    <span>user.input</span>
  </label>
</body>

</html>